<style type="text/css">

.email-ul {
  display: block;
  padding-left: 14px;
  box-orient: vertical;
  direction: normal;
  flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}
        
.list-unstyled {
        list-style: none;
}
        
.email-p {
  color: #7a7d9c;
}
        
.email-li-a {
  margin-top: 10px;
  line-height: 1em;
}
        
.email-a {
  line-height: 0px;
}
        
.email-logo {
  width: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}
        
.email-p-a {
  line-height: 0px;
  font-weight: 600;
}
        
.email-i {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #7a7d9c;
  line-height: 1rem;
  font-size: 14px;
  font-style: italic;
}
.email-a-logo {
  margin-top: 20px;
  line-height: 0em;
}
        
.email-li-logo {
  margin-top: 20px;
}  
        
</style>
