<style type="text/css">

.{{name-of-class}} {
  
  padding-left: 14px;
  padding-right: 2px;
  padding-top: 7px;
  padding-botton 22;
  
  box-orient: vertical;
  
  direction: normal;
  
  display: block;

  line-height: 1em;
  
  flex-direction: column;
  
  list-style: none;
  
  color: #7a7d9c;
  
  width: 200px;
  height: 100px;

  margin-top: 0px;
  margin-left: 4px;
  margin-right: 64;
  margin-bottom: 0px;
    
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  
}

</style>
